<!DOCTYPE html>
<html>
<head>
	<title>Hangman App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body ng-app="HangmanApp" ng-controller="GameController">
<div class= "container">
  <div class="row">

    <div class="col-md-12">
    	<h1>Raad het woord!</h1><br/>
      	<p>Een spel in het teken van Plat4Mation. Voor het maken van dit spel is er gebruik gemaakt van AngularJS. Daarnaast is de app responsive gemaakt met behulp van Bootstrap. Het spel is een vorm van het bekende spel 'Galgje'. Hierbij zijn er woorden uitgekozen welke betrekking hebben op Plat4Mation. Veel speelplezier!</p>
    </div>
  </div>

	<div>
		<div>
			Guesses Left: {{guesses}}
		</div>
		<div>
			Your incorrect guesses: 
			<span ng-repeat="letter in incorrectLettersChosen">{{letter}}</span>
		</div>
		<div>
			Your correct guesses:
			<span ng-repeat="letter in correctLettersChosen">{{letter}}</span>
		</div>

		<div>You have to guess: {{displayWord}} </div>
		<div>
			<input type="text" name="Guess" ng-model="input.letter" ng-minlength="1" ng-maxlength="1">
			<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="letterChosen()">Submit</button>
		</div>
	</div>
</div>
</body>
</html>