body	{
	background-color: #e9ecef;
}

.guesses	{
	text-align: center;
}

.fa-dice	{
	font-size: 100px;
	color: #ff0000;
}

.fa-thumbs-up	{
	font-size: 100px;
	color: #ff0000;
}

.fa-thumbs-down	{
	font-size: 100px;
	color: #ff0000;
}

.inputField	{
	width: 100%;
}

.heightletters	{
	height: 30px;
}

.jumbotron	{
	height: 275px;
}
