body	{
	background-color: #e9ecef;
}

.guesses	{
	text-align: center;
}

.fa-dice	{
	font-size: 100px;
	color: #ff0000;
}

.fa-thumbs-up	{
	font-size: 80px;
	color: #ff0000;
}

.fa-thumbs-down	{
	font-size: 80px;
	color: #ff0000;
}

.inputField	{
	width: 100%;
}

.heightletters	{
	height: 30px;
}

.jumbotron	{
	height: 275px;
}

.letter	{
	font-weight: 400;
	font-size: 25px;
	font-style: italic;
}

.letterincorrect	{
	font-weight: 400;
	text-decoration: line-through;
	font-size: 25px;
	font-style: italic;
}

.guessWord	{
	font-weight: 400;
	font-size: 35px;
}

.chances	{
	font-size: 20px;
}